<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <apikeys>
  </apikeys>
  <packageSourceCredentials>
    <Deltix.NET>
      <add key="Username" value="%DELTIX_PROGET_USER%" />
      <add key="ClearTextPassword" value="%DELTIX_PROGET_PASS%" />
    </Deltix.NET>
  </packageSourceCredentials>
  <packageSources>
    <add key="Deltix.NET" value="https://packages.deltixhub.com/nuget/Deltix.NET" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
